<h1>Name of customer: <%= @order.name %></h1>
<p>Customers phone: <%= @order.phone %></p>
<p>Customers address:  <%= @order.address %></p>
<p> Created: <%= time_ago_in_words(@order.created_at) %>
<%= button_to "Delete", @order, :method=>:delete, :class=>'btn btn-danger  btn-bitbucket'%>